@model BrandMonitor.Models.ListMessagesViewModel
@{
    ViewBag.Title = "List of messages";
}

<h2>Monitoring comments about my brand on social media</h2>


<div class="row">
    <div class="col-12 px-4 py-5 my-5  text-center @(Model.Sentiment.GetValueOrDefault() > 0? "alert-success":"alert-danger")">
        <h3>General feeling: @(Model.Sentiment.GetValueOrDefault() > 0? "Positive": (Model.Sentiment.GetValueOrDefault() < 0? "Negative":"No data"))</h3>
    </div>
</div>
<div class="row">
        <div class="col-md-2">
            <h4>Filters</h4>

            Main Topics:

            <table class="table table-responsive table-condensed">
                <tr>
                    <td>@Html.ActionLink("All", "ListMessages", "Home")</td>
                </tr>
                @foreach (var request in Model.Topics)
                {
                    <tr>
                        <td>@Html.ActionLink(request.Label, "ListMessages", "Home", new { topic = request.Label }, null)</td>
                    </tr>

                }
            </table>
        </div>
        <div class="col-md-10">
            <h4>Messages</h4>

            <table class="table table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Creation Date (UTC)</th>
                        <th>Sentiment</th>
                        <th>Text</th>
                        <th>User</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var request in Model.Messages)
                {
                    <tr class="@(request.Sentiment.GetValueOrDefault() < 0? "table-warning":"table-success")">
                        <td>@request.CreatedAt</td>
                        <td>@(request.Sentiment.GetValueOrDefault() > 0? "Positive": (request.Sentiment.GetValueOrDefault() < 0? "Negative":"No data"))</td>
                        <td><a href="https://twitter.com/@(request.User)/status/@(request.Url)" target="_blank">@request.Text</a></td>
                        <td>@request.User</td>
                        <td>@Html.ActionLink("Details","ViewMessage",new {id = request.Id}) </td>

                    </tr>
                }
            </table>
        </div>
    </div>